<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>12D78</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.driver.legacyLT4112</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>legacyLT4112</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>5.01.09.00-legacyLT4112</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>5.01.09</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>0x12D1/0x15c1_Huawei_ME906S_Diag_port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMData</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Diag</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5569</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>0x12D1/0x15c1_Huawei_ME906S_Modem_port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMData</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Modem</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5569</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>0x12D1/0x15c1_Huawei_ME906S_Pcui_port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMData</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>5569</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>0x12D1/0x15c1_Huawei_ME906S__HuaweiDataCardDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDriver</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>5569</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>0x03F0/0x581D_HP_LT4112_Diag_port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMData</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Diag</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>22557</integer>
			<key>idVendor</key>
			<integer>1008</integer>
		</dict>
		<key>0x03F0/0x581D_HP_LT4112_Modem_port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMData</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Modem</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>22557</integer>
			<key>idVendor</key>
			<integer>1008</integer>
		</dict>
		<key>0x03F0/0x581D_HP_LT4112_Pcui_port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMData</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>22557</integer>
			<key>idVendor</key>
			<integer>1008</integer>
		</dict>
		<key>0x03F0/0x581D_HP_LT4112__HuaweiDataCardDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDriver</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>22557</integer>
			<key>idVendor</key>
			<integer>1008</integer>
		</dict>
		<key>0x12D1/0x1573_Huawei_ME906E_Diag_port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMData</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Diag</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5491</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>0x12D1/0x1573_Huawei_ME906E_Modem_port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMData</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Modem</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>5491</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>0x12D1/0x1573_Huawei_ME906E_Pcui_port</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMData</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>5491</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>0x12D1/0x1573_Huawei_ME906E__HuaweiDataCardDriver</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDriver</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDriver</string>
			<key>IOProviderClass</key>
			<string>IOUSBDevice</string>
			<key>idProduct</key>
			<integer>5491</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Local-Root</string>
</dict>
</plist>
