<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>MBBEthernetData</string>
	<key>CFBundleGetInfoString</key>
	<string>MBBEthernetData 6.00.05.00</string>
	<key>CFBundleIdentifier</key>
	<string>com.MBB.driver.MBBEthernetData</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.00.05</string>
	<key>CFBundleName</key>
	<string>MBBEthernetData</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.00.05.00</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6.00.05</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6C131e</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A383</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0620</string>
	<key>DTXcodeBuild</key>
	<string>6C131e</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>Hw_1444_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5188</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1445_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5189</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_144E_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5198</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_144F_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5199</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_14A5_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5285</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_14A6_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5286</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_14A7_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5287</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_14AE_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5294</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_14AF_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5295</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_14B0_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5296</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_14B1_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5297</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_14D6_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>5334</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C06_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7174</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C07_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7175</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C09_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7177</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C0A_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>7178</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C0C_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7180</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C0E_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7182</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C0F_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7183</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C14_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7188</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C15_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7189</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C16_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7190</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C17_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>7191</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C18_NDIS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>0</integer>
			<key>idProduct</key>
			<integer>7192</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C1E_NCM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7198</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C1F_NCM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>7199</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C21_NCM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7201</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1C22_NCM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>7202</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_1c1d_NCM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7197</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NCM_General</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>22</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NCM_MBB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>118</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NCM_VDF</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>70</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_General</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>7</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_General_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>7</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_MBB</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>103</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_NCM_0d_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>13</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_NCM_General_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>22</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_NCM_VDF_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>70</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_NCM_without_Huawei_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>118</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
			<key>nInterfaceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_VDF</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>55</integer>
			<key>bInterfaceSubClass</key>
			<integer>2</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_VDF_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>55</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
		<key>Hw_NDIS_without_Huawei_3</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.MBB.driver.MBBEthernetData</string>
			<key>IOClass</key>
			<string>MBBEthernetData</string>
			<key>IOMatchCategory</key>
			<string>MBBEthernetData</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>IOResourceMatch</key>
			<string>IOKit</string>
			<key>IOUserClientClass</key>
			<string>MBBUserClient</string>
			<key>bInterfaceProtocol</key>
			<integer>103</integer>
			<key>bInterfaceSubClass</key>
			<integer>3</integer>
			<key>idVendor</key>
			<integer>4817</integer>
			<key>nDeviceType</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IONetworkingFamily</key>
		<string>1.1</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
	<key>OSBundleRequired</key>
	<string>Network-Root</string>
</dict>
</plist>
