<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HuaweiDataCardDMM</string>
	<key>CFBundleGetInfoString</key>
	<string>HuaweiDataCardDMM 6.00.05.00</string>
	<key>CFBundleIdentifier</key>
	<string>com.huawei.driver.HuaweiDataCardDMM</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.00.05</string>
	<key>CFBundleName</key>
	<string>HuaweiDataCardDMM</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.00.05.00</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6.00.05</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6C131e</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A383</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0620</string>
	<key>DTXcodeBuild</key>
	<string>6C131e</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>CDMAMBN_1d51</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MBN</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7505</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMBN_1d51_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MBN</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7505</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMBN_1d54</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MBN</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7508</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMBN_1d54_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MBN</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7508</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMBN_1d55</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MBN</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7509</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMBN_1d55_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MBN</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7509</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d50</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7504</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d50_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7504</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d51</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>7505</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d51_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>7505</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d52</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7506</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d52_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7506</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d53</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7507</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d53_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7507</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d54</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>7508</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d54_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>7508</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d55</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>7509</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAMMS_1d55_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>MMS</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>2</integer>
			<key>idProduct</key>
			<integer>7509</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d50</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idProduct</key>
			<integer>7504</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d50_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idProduct</key>
			<integer>7504</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d51</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7505</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d51_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7505</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d52</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idProduct</key>
			<integer>7506</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d52_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idProduct</key>
			<integer>7506</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d53</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idProduct</key>
			<integer>7507</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d53_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>4</integer>
			<key>idProduct</key>
			<integer>7507</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d54</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7508</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d54_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7508</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d55</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7509</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>CDMAPCUI_1d55_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardDMM</string>
			<key>HWInterfaceBaseName</key>
			<string>HUAWEIMobile-</string>
			<key>HWInterfaceSuffixName</key>
			<string>Pcui</string>
			<key>IOClass</key>
			<string>HuaweiDataCardDMM</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7509</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
	</dict>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9</string>
		<key>com.apple.kernel.6.0</key>
		<string>7.9.9</string>
	</dict>
	<key>OSBundleLibraries_x86_64</key>
	<dict>
		<key>com.apple.iokit.IOSerialFamily</key>
		<string>1.0.4</string>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
