<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>13F34</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>HuaweiDataCardACMControl</string>
	<key>CFBundleGetInfoString</key>
	<string>Huawei Data Card Driver version 6.00.05.00</string>
	<key>CFBundleIdentifier</key>
	<string>com.huawei.driver.HuaweiDataCardACMControl</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.00.05</string>
	<key>CFBundleName</key>
	<string>HuaweiDataCardACMControl</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>6.00.05.00</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6.00.05</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6C131e</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>14A383</string>
	<key>DTSDKName</key>
	<string>macosx10.10</string>
	<key>DTXcode</key>
	<string>0620</string>
	<key>DTXcodeBuild</key>
	<string>6C131e</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>HUAWEI_TD_1D03_MDM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7427</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D03_MMS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7427</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D03_PCUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>idProduct</key>
			<integer>7427</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D09_MDM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7433</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D09_MMS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7433</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D09_PCUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>idProduct</key>
			<integer>7433</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D0D_MDM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7437</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D0D_MMS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7437</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D0D_PCUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>idProduct</key>
			<integer>7437</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D0D_Video</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>7</integer>
			<key>idProduct</key>
			<integer>7437</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D0F_MDM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7439</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D0F_MMS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7439</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D0F_PCUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>idProduct</key>
			<integer>7439</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D10_MDM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7440</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D10_MMS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7440</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D10_PCUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>idProduct</key>
			<integer>7440</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D17_MDM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7447</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D17_MMS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7447</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D17_PCUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>idProduct</key>
			<integer>7447</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D17_Video</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>7</integer>
			<key>idProduct</key>
			<integer>7447</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D18_MDM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7448</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D18_MMS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7448</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D18_PCUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>idProduct</key>
			<integer>7448</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D18_Video</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>7</integer>
			<key>idProduct</key>
			<integer>7448</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D19_MDM</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7449</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D19_MMS</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>3</integer>
			<key>idProduct</key>
			<integer>7449</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D19_PCUI</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>5</integer>
			<key>idProduct</key>
			<integer>7449</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D19_Video</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>3</integer>
			<key>bInterfaceNumber</key>
			<integer>7</integer>
			<key>idProduct</key>
			<integer>7449</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D50_modem</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7504</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D50_modem_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7504</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D52_modem</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7506</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D52_modem_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7506</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D53_modem</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>2</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7507</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>HUAWEI_TD_1D53_modem_</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bConfigurationValue</key>
			<integer>1</integer>
			<key>bInterfaceNumber</key>
			<integer>1</integer>
			<key>idProduct</key>
			<integer>7507</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>Huawei_control_general</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bInterfaceProtocol</key>
			<integer>12</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>Huawei_control_general_vdf</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bInterfaceProtocol</key>
			<integer>60</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
		<key>Huawei_control_general_without_Huawei</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.huawei.driver.HuaweiDataCardACMControl</string>
			<key>IOClass</key>
			<string>HuaweiDataCardACMControl</string>
			<key>IOProviderClass</key>
			<string>IOUSBInterface</string>
			<key>bInterfaceProtocol</key>
			<integer>108</integer>
			<key>bInterfaceSubClass</key>
			<integer>1</integer>
			<key>idVendor</key>
			<integer>4817</integer>
		</dict>
	</dict>
	<key>OSBundleCompatibleVersion</key>
	<string>1.8</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOUSBFamily</key>
		<string>1.9</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
